* text=auto

*.py text eol=lf
*.md text eol=lf
*.rst text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.parquet -text
*.npy -text
*.keras -text
*.tfrecord -text
*.h5 -text
*.pdf -text
