# Diretório do ambiente virtual Python
psg-venv/

# Configurações do Visual Studio Code
.vscode/

# Bytecode Python
__pycache__/

# Variáveis de ambiente
.env

# Informações do pacote egg
geexhp.egg-info/

# Ignorando
data/*.parquet
parallel/data/
examples/kawashima_data/
examples/arney_data/
ecospeclib-all/
playground.ipynb
